.accordion-list {
  list-style-type: none;
}

.accordion__content {
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.5s;
  max-height: 0;
}

.accordion__toggle {
  z-index: 1;
  position: relative;
  display: flex;
  background: none;
  border: none;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.accordion__toggle-icon {
  position: absolute;
  top: 50%;
  right: 0;
  flex-shrink: 0;
  transform: translateY(-50%);

  svg {
    height: 14px;
    width: 14px;
  }
}
