$badge-background-color: $color-primary;
$badge-color: $color-blackcurrant;

.badge {
  --badge-padding: 6px 10px 6px 22px;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
  width: fit-content;
  padding: var(--badge-padding);
  background-color: $badge-background-color;
  color: $badge-color;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%, 0% 0%);
  text-align: center;

  &--card-news,
  &--article-first-block,
  &--card-news-and-stories {
    position: absolute;
    bottom: 19px;
    right: 0;
    width: 78px;

    .badge {
      &__wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        box-orient: vertical;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
      }
    }
  }

  &--card-news-and-stories {
    bottom: 32px;
  }

  &--article-first-block {
    bottom: 45px;
  }

  @include desktop {
    --badge-padding: 5px 22px;
    font-size: 13px;
    line-height: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 7px 50%, 0% 0%);

    &--card-news {
      bottom: 44px;
      width: fit-content;
      max-width: 200px;
    }

    &--card-news-and-stories {
      bottom: 40px;
      --badge-padding: 8px 36px;
      font-size: 16px;
      line-height: 25px;
      width: fit-content;
      max-width: 200px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 11px 50%, 0% 0%);
    }

    &--article-first-block {
      --badge-padding: 8px 36px;
      font-size: 16px;
      line-height: 25px;
      width: fit-content;
      max-width: 200px;
      bottom: 65px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 11px 50%, 0% 0%);
    }
  }
}