.block-hero {
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 90px;
  }

  .block-hero__block {
    width: 100%;
    max-width: 400px;

    @include desktop {
      max-width: 483px;
    }
  }

  .block-hero__content {
    padding: 60px 40px 40px;
    background-size: cover;
    background-position: left 15% bottom 15%;
    background-repeat: no-repeat;
    border-radius: 20px;

    @include laptop {
      padding: 60px 40px 40px;
    }

    @include desktop {
      border-radius: 40px;
      padding: 165px 107px;
      background-size: cover;
    }

    .block-hero__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 170%;
      color: $color-white;
      margin-bottom: 30px;

      @include desktop {
        font-size: 20px;
        margin-bottom: 60px;
      }

      p {
        font-size: inherit;
        margin-top: 24px;
      }
    }

    .block-hero__title {
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: $color-white;

      @include desktop {
        font-size: 40px;
      }
    }
  }
}