.block-news {
  --padding-left: 37px;
  --padding-right: 37px;
  --padding-top: 37px;
  --padding-bottom: 37px;
  z-index: 1;
  overflow: hidden;

  h2 {
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 0;
    letter-spacing: -3px;
    order: -2;
  }

  h3,
  p,
  &__list,
  p~* {
    grid-column: 1 / -1;
  }

  h3 {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 13px;
  }

  p {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__list {
    width: calc(100% + 120px);

    @include desktop {
      margin-top: 20px;
      max-width: 1440px;
      width: calc(100vw - (100vw - 860px) / 2);
      margin-left: auto;
    }

    @media (min-width: 1510px) {
      width: calc(100vw - (100vw - 960px) / 2);
      padding-right: 250px;
    }
  }

  &__left,
  &__right {
    display: contents;
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    column-gap: 12px;
    row-gap: 20px;
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    border-radius: 20px;
    background-image: linear-gradient(180.00deg, rgb(255, 236, 236), rgba(255, 236, 236, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--other-news {
    --padding-bottom: 12px;

    .block-news__wrapper {
      align-items: baseline;

      @include desktop {
        align-items: flex-start;
        --padding-bottom: 100px;
      }
    }

    .section-title {
      @include desktop {
        margin-bottom: 34px;
      }
    }

    .section-title {
      order: -1;
      margin-bottom: 0;

      h2 {
        @include desktop {
          order: 1;
        }
      }
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      margin-bottom: 12px;
    }

    .block-news {
      &__list {
        padding-block: 21px;
      }

      &__wrapper {
        row-gap: 28px;
      }
    }
  }

  &--fact-figures {
    --padding-left: 37px;
    --padding-right: 37px;
    --padding-top: 48px;
    --padding-bottom: 48px;

    h2 {
      color: $color-secondary;
      grid-column: 1 / -1;
      letter-spacing: normal;
    }

    .block-news {
      &__list {
        padding-block: 16px;
        margin-top: 0;
      }
    }
  }

  @media (max-width: $desktop - 1px) {
    h3:has(+ p) {
      margin-bottom: -15px;
    }
  }

  @include tablet-h {
    --padding-left: 130px;
  }

  @include laptop {
    --padding-left: 160px;

    &--other-news {
      --padding-left: 125px;
    }

    &--fact-figures {
      --padding-left: 80px;
    }
  }

  @include desktop {
    --padding-top: 74px;
    --padding-right: 70px;
    --padding-bottom: 80px;

    p {
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 20px;

      &:has(+ .block-news__list) {
        margin-bottom: 47px;
      }
    }

    &__wrapper {
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      border-radius: 40px;
    }

    &--other-news {
      --padding-bottom: 46px;

      h3 {
        font-size: 48px;
        line-height: 67px;
        margin-bottom: 20px;
      }

      p {
        -webkit-line-clamp: 4;

        &:has(+ a) {
          margin-bottom: 35px;
        }
      }

      .block-news {

        &__left,
        &__right {
          display: block;
        }

        &__list {
          margin-top: 25px;
          padding: 0;
          margin-inline: 0 calc(var(--padding-right) * -1 - var(--container-padding));
          flex-direction: column;
        }

        &__left {
          padding-top: 20px;
        }

        &__wrapper {
          column-gap: 95px;
        }
      }
    }

    &--fact-figures {
      --padding-top: 74px;
      --padding-right: 80px;
      --padding-bottom: 69px;

      h2 {
        margin-bottom: 17px;
        font-size: 40px;
        line-height: 56px;
      }

      .block-news {
        &__list {
          gap: 30px;
        }

        &__wrapper {
          row-gap: 0;
        }
      }
    }
  }

  @media (min-width: 1511px) {

    &--other-news {
      .block-news {
        &__list {
          mask-image: initial;
        }
      }
    }
  }
}

.block-news__list.slider-facts {
  @media (min-width: 1510px) {
    padding: 0;
    margin: 0;
  }
}

.block-news__right>.link--all-news {
  @include desktop {
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    max-width: 1190px;
    order: 2;
    top: 40px;
    margin-left: auto;
    margin-right: 0;
    right: 70px;
  }
}

.block-news--other-news .block-news__list {
  margin-inline: 0;

  @include desktop {
    width: 100%;
    margin-left: 120px;
  }

  .swiper-wrapper {
    @include desktop {
      flex-direction: column;
      align-items: flex-end;
      gap: 40px;
    }
  }

  .swiper-slide {
    @include desktop {
      margin-right: 0 !important;
      width: auto !important;
    }
  }
}