.card-employee {
  width: 182px;
  height: 182px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;

  &:hover {
    .card-employee__detail {
      transform: translateY(0);
    }
  }

  &__detail {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #000;
    transition-property: transform;
    transition-duration: 1s;
    transform: translateY(100%);

    h3 {
      margin-bottom: 16px;
      font-size: 16px;
      color: $color-primary;

      @include tablet {
        font-size: 18px;
      }
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1.4;
      color: $color-white;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__flag {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 11px;
    left: 11px;
    border-radius: 50%;
    overflow: hidden;
  }
}