.decor {
  position: relative;
  overflow: clip;

  &::before {
    content: "";
    position: absolute;
    top: -74px;
    left: -84px;
    width: calc(100% + 199px);
    height: auto;
    background-image: url("../images/bg-page-m.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    aspect-ratio: 589 / 296;
  }

  &--page-header {
    overflow: initial;

    &::before {
      top: calc(100% - 100px);
      z-index: -1;
    }
  }

  @include tablet {
    &::before {
      aspect-ratio: 1510 / 869;
    }

    &--page-header {
      &::before {
        aspect-ratio: 589 / 296;
      }
    }
  }

  @include laptop {
    &::before {
      width: 100%;
      left: 0;
      top: 0;
      background-image: url("../images/bg-page.png");
    }

    &--page-header {
      &::before {
        top: calc(100% - 56px);
        aspect-ratio: 1920 / 869;
        background-image: url("../images/bg-image-page-header.png");
      }
    }
  }

  @media (min-width: 1511px) {
    &--page-header {
      &::before {
        left: 0;
        max-width: 100%;
        mask-image: linear-gradient(90deg, transparent 0%, black 10px, black calc(100% - 10px), transparent 100%);
      }
    }
  }
}