:root {
  --not-active: #F9E9EA;
  --color-active: #e72a33;
  --color-hover: #e72a33;
  --color-stroke: white;
}

svg#Africa {
  height: 100%;
  width: inherit;
  max-width: 456px;
  margin: 0 auto;

  @include desktop {
    max-width: 100%;
    margin: 0;
  }

  path {

    &:focus,
    &:active {
      outline: none;
    }
  }

  [data-template] {
    fill: var(--not-active);

    @include desktop {
      fill: var(--not-active);
    }
  }

  [data-template]:hover,
  [data-template].is-hover {
    cursor: pointer;
    fill: var(--color-hover);
  }
}

.inland {
  fill: var(--not-active);
  stroke: var(--color-stroke);
  stroke-width: 2;
  stroke-miterlimit: 3.9745;
  transition: all 0.3s;
}

.island {
  fill: var(--not-active);
  stroke: var(--color-stroke);
  stroke-width: 0.3;
  stroke-miterlimit: 3.9745;
  transition: all 0.7s;
}

.active-country .inland,
.active-country .island {
  fill: var(--color-active);
}



.st2 {
  fill: green;
  fill-opacity: 0;
}

.tippy-box {
  font-size: 15px;
  font-weight: 300;
  padding: 15px 25px;
  background-color: $color-secondary;
  color: #fff;

  b,
  strong,
  h3,
  h4,
  h5,
  h6 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
  }

  ul {
    list-style-position: inside;
  }
}