:root {
  --not-active: #F9E9EA;
  --color-active: #e72a33;
  --color-hover: #e72a33;
  --color-stroke: white;
}

svg#Africa {
  height: 100%;
  width: inherit;
  max-width: 456px;
  margin: 0 auto;

  @include desktop {
    max-width: 100%;
    margin: 0;
  }

  path {

    &:focus,
    &:active {
      outline: none;
    }
  }

  [data-template] {
    fill: var(--not-active);

    @include desktop {
      fill: #f9b0b4;
    }
  }

  [data-template]:hover,
  [data-template].is-hover {
    cursor: pointer;
    fill: var(--color-hover);
  }
}

.inland {
  fill: var(--not-active);
  stroke: var(--color-stroke);
  stroke-width: 2;
  stroke-miterlimit: 3.9745;
  transition: all 0.3s;
}

.island {
  fill: var(--not-active);
  stroke: var(--color-stroke);
  stroke-width: 0.3;
  stroke-miterlimit: 3.9745;
  transition: all 0.7s;
}


.active-country .inland,
.active-country .island,
.active-country.inland,
.active-country.island {
  fill: var(--color-active) !important;
}

.st2 {
  fill: green;
  fill-opacity: 0;
}