.textarea {
  font-size: 16px;
  font-weight: 300;
  padding: 14px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: $input-color;
  transition-property: border-color;
  transition-duration: $transition-duration;
  resize: none;

  @include tablet {
    padding: 14px 30px;
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:focus,
  &:focus-visible {
    border-color: rgba(255, 255, 255, 0.5);
    outline: none
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.textarea--default {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;

  &:focus,
  &:focus-visible {
    border-color: rgba(255, 255, 255, 0.2);
    outline: none;
  }

  &::placeholder {
    color: #fff;
  }
}