.where-we-operate {
  padding-top: 90px;
  padding-bottom: 70px;

  @include desktop {
    padding-top: 120px;
    padding-bottom: 133px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 100%;
    background-image: url(../images/africa-bg-mobile.png);
    background-size: 390px;
    background-position: -20px -95px;
    background-repeat: no-repeat;
    right: 0;
    left: 0;
    margin: 0 auto;

    @include desktop {
      width: 1200px;
      height: 100%;
      background-image: url(../images/africa-bg.png);
      background-size: contain;
      background-position: 123px -45px;
      transform: scale(1.5);
    }

    @include desktop-l {
      background-position: 110px -45px;
      transform: scale(1.6);
    }
  }

  .where-we-operate__content {
    @include desktop {
      width: 535px;
    }

    .where-we-operate__text {
      color: #000;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 300;
      line-height: 170%;

      p {
        margin: 0;
        font-size: inherit;
      }

      ul {
        margin-left: 20px;
        font-size: inherit;

        @include desktop {
          margin-left: 25px;
        }
      }

      @include desktop {
        font-size: 20px;
      }
    }

    .where-we-operate__title {
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;

      @include desktop {
        font-size: 36px;
      }

      @include desktop {
        br {
          display: none;
        }
      }
    }
  }

  .wrapper-mid {
    .wrapper__content {
      z-index: 1;
      position: relative;
      padding: 20px 20px 20px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      @include desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 60px 67px;
      }
    }

    .wrapper__line {
      background-image: none;

      @include desktop {
        background-image: url("../images/desktop-border-line-left.png");
      }

      &:first-child {
        .line__block {
          background-image: url("../images/mobile-border-line-left.png");
          background-repeat: repeat-y;
          background-position: left;
          background-size: contain;

          @include desktop {
            background: transparent;
          }

          &:first-child {
            height: 189px;
          }

          &:last-child {
            height: calc(100% - 102px - 189px);
          }
        }

        .line__mask {
          height: 102px;
          background-image: url("../images/mobile-border-curve-left.png");
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;

          @include desktop {
            background: transparent;
          }
        }
      }

      &:last-child {
        @include desktop {
          background-image: none;

          .line__block {
            background-image: url("../images/desktop-border-line-right.png");
            background-repeat: repeat-y;
            background-position: right;
            background-size: contain;
            height: 225px;

            &:last-child {
              height: calc(100% - 225px - 95px);
            }
          }

          .line__mask {
            background-image: url("../images/desktop-border-curve-right.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            height: 95px;
          }
        }
      }
    }
  }
}

.where-we-operate__map {
  width: calc(100% + 240px);
  margin: -75px -120px 0;

  @include desktop {
    width: calc(100% + 120px);
    margin: 0;
    margin-left: -210px;
    margin-top: -35px;
    margin-bottom: -175px;
    width: 691px;
  }

  @include desktop-l {
    margin-left: -250px;
  }

  >svg {
    width: calc(100% + 200px);

    @include desktop {
      width: 100%;
    }
  }
}