.where-we-operate {
  padding-top: 90px;
  padding-bottom: 70px;

  @include desktop {
    padding-top: 120px;
    padding-bottom: 133px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 100%;
    background-image: url(../images/africa-bg-mobile.png);
    background-size: 390px;
    background-position: -20px -95px;
    background-repeat: no-repeat;
    right: 0;
    left: 0;
    margin: 0 auto;

    @include desktop {
      width: 1200px;
      height: 100%;
      background-image: url(../images/africa-bg.png);
      background-size: contain;
      background-position: 123px -45px;
      transform: scale(1.5);
    }

    @include desktop-l {
      background-position: 110px -45px;
      transform: scale(1.6);
    }
  }

  .where-we-operate__content {
    @include desktop {
      width: 535px;
    }

    .where-we-operate__text {
      color: #000;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 300;
      line-height: 170%;

      p {
        margin: 0;
        font-size: inherit;
      }

      ul {
        margin-left: 20px;
        font-size: inherit;

        @include desktop {
          margin-left: 25px;
        }
      }

      @include desktop {
        font-size: 20px;
      }
    }

    .where-we-operate__title {
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;

      @include desktop {
        font-size: 36px;
      }

      @include desktop {
        br {
          display: none;
        }
      }
    }
  }

  .wrapper-mid {
    .wrapper__content {
      z-index: 1;
      position: relative;
      padding: 20px 20px 20px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      @include desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 60px 67px;
      }
    }

    .wrapper__line {
      background-image: none;

      @include desktop {
        background-image: url("../images/desktop-border-line-left.png");
      }

      &:first-child {
        .line__block {
          background-image: url("../images/mobile-border-line-left.png");
          background-repeat: repeat-y;
          background-position: left;
          background-size: contain;

          @include desktop {
            background: transparent;
          }

          &:first-child {
            height: 189px;
          }

          &:last-child {
            height: calc(100% - 102px - 189px);
          }
        }

        .line__mask {
          height: 102px;
          background-image: url("../images/mobile-border-curve-left.png");
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;

          @include desktop {
            background: transparent;
          }
        }
      }

      &:last-child {
        @include desktop {
          background-image: none;

          .line__block {
            background-image: url("../images/desktop-border-line-right.png");
            background-repeat: repeat-y;
            background-position: right;
            background-size: contain;
            height: 225px;

            &:last-child {
              height: calc(100% - 225px - 95px);
            }
          }

          .line__mask {
            background-image: url("../images/desktop-border-curve-right.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            height: 95px;
          }
        }
      }
    }
  }
}

.where-we-operate__map {
  width: calc(100% + 240px);
  margin: -75px -120px 0;

  @include desktop {
    width: calc(100% + 120px);
    margin: 0;
    margin-left: -210px;
    margin-top: -35px;
    margin-bottom: -175px;
    width: 691px;
  }

  @include desktop-l {
    margin-left: -250px;
  }

  >svg {
    width: calc(100% + 200px);

    @include desktop {
      width: 100%;
    }
  }
}

.where-we-operate__content {
  position: relative;
}

.where-we-operate__detail {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: calc(100% + 80px);
  max-width: calc(100% + 80px);
  height: calc(100% + 20px);
  // height: auto;
  // bottom: -20px;
  margin-bottom: -20px;
  left: -40px;
  border-radius: 20px;
  background: linear-gradient(180deg, #fff4f2 0%, #fef1fa 100%);
  z-index: 10;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  @include tablet {
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: auto;
    padding-bottom: 100px;
  }

  @include desktop {
    min-width: 768px;
    left: auto;
    margin: 0;
    min-width: 768px;
    right: -70px;
    top: -80px;
    background: linear-gradient(117.78deg, rgba(255, 222, 214, 0.3) 2.37%, rgba(253, 231, 246, 0.65) 98.75%);
  }

  &[style*="display: none"] {
    display: none !important;
  }
}

.where-we-operate__detail-body {
  padding: 20px;
  // height: 100%;

  @include tablet {
    padding: 30px 20px;
  }
}

.where-we-operate__detail-tabs {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 40px;

  @media (min-width: 480px) {
    padding-right: 80px;
  }

  @include tablet {
    gap: 20px;
    padding-right: 0;
  }
}

.where-we-operate__detail-tabs-content {
  @include desktop {
    padding: 10px 40px 40px 40px;
    font-size: 16px;
  }
}

.where-we-operate__detail-tabs-content ul {
  list-style-type: none;
  margin-top: 18px;
}

.where-we-operate__detail-tabs-content ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @include tablet {
    display: block;
    margin-bottom: 0;
  }
}

.where-we-operate__detail-tabs-content ul li > span:first-child {
  display: inline-block;
  font-weight: 500;
  min-width: 110px;
  margin-right: 35px;
}

.where-we-operate__detail-tab {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.7;
  padding: 8px 12px;
  background: transparent;
  border: 1px solid $color-secondary;
  border-radius: 20px;

  @include tablet {
    font-size: 14px;
    padding: 4px 16px;
  }
}

.where-we-operate__detail-tab.is-active {
  background-color: $color-secondary;
  color: #fff;
}

.where-we-operate__detail-tab.is-active svg {
  fill: #fff;
}

.where-we-operate__detail-tab svg {
  width: 16px;
  height: 16px;
  fill: $color-secondary;
}

.where-we-operate__detail-title {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  padding: 12px 20px;
  background-color: $color-secondary;
  border-radius: 20px;
  color: #fff;

  @include tablet {
    padding: 18px 50px 18px 60px;
    font-size: 30px;
    border-radius: 100px;
  }
}

.where-we-operate__detail-title > span {
  line-height: 1.5;
}

.where-we-operate__detail-close {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  gap: 1px;
  padding: 0;
  background: none;
  color: #fff;
  letter-spacing: -1px;

  @include tablet {
    font-size: 16px;
  }
}

.where-we-operate__detail-close svg {
  width: 29px;
  height: 29px;
}
 
.where-we-operate .wrapper-mid .wrapper__content {
  padding-bottom: 0;
}

.where-we-operate__detail-flag {
  position: absolute;
  top: 135px;
  right: 15px;
  width: 60px;

  @media (min-width: 480px) {
    top: 80px;
  }

  @include tablet {
    top: auto;
    bottom: 0;
    width: 100px;
  }
}
