include ./card-news

mixin block-news(obj)
    .block-news&attributes(attributes)
        .container.container-sm
            .block-news__wrapper
                .block-news__left
                    if obj.subtitle
                        .section-title.text-secondary
                            h2 !{obj.title}
                        h3 !{obj.subtitle}
                    else
                        h2 !{obj.title}

                    if obj.text
                        p !{obj.text}

                    if obj.subtitle
                        a.link.link--secondary(href="#" title="Read article")
                            span Read article
                            +svg('arrow-right').link__icon-right
                .block-news__right
                    if !obj.hideLinkNews
                        a.link.link--small.link--secondary.link--all-news(href="/news.html" title="All news")
                            span All news
                            +svg('arrow-right').link__icon-right
                    .block-news__list
                        each news, index in obj.list
                            +card-news({
                                boldTitle: news.boldTitle,
                                title: news.title,
                                text: news.text,
                                badge: news.badge
                            })(class=(obj.subtitle ? 'card-news--other-news' : '' || news.boldTitle ? 'card-news--fact-figures' : ''))

