mixin card-employee(obj)
  .card-employee
    .card-employee__detail
      h3 James Johnson
      p Lawyer
      p Zambia
    img(src=obj.src, alt="employee.", width="182", height="182").card-employee__img
    .card-employee__flag
      img(src=obj.srcFlag, alt="employee.", width="56", height="56")