mixin card-employee(obj)
    .card-employee
        img(src=obj.src, alt="employee.", width="182", height="182").card-employee__img
        img(src=obj.srcFlag, alt="employee.", width="56", height="56").card-employee__flag