footer.footer
  .container
    div
      img.footer__logo(src="images/logo-inverse.svg", alt="logo soundclaims." width="112" height="64")
    div.footer__adress.footer__text Laan van Kronenburg <br> 14 1183 AS Amstelveen <br> The Netherlands
    div.footer__contacts
      a(href="tel:+31202618393").footer__text + 31202618393
      a(href="mailto:info@soundclaims.com").footer__text info@soundclaims.com
    div.footer__divider 
    div.footer__text.footer__text-grey.footer__terms Soundclaims is a company with <br> limited liability under Dutch <br> law, registered at the Dutch trade <br> register under number 68416636. All <br> our services are subject to the <br> general terms and conditions of <br> Soundclaims. The terms and <br> conditions for Soundclaims include a <br> limitation of liability and jurisdiction <br> clause Amsterdam court.