header.header
  .container.container-sm
    .header__inner
      .header__inner-wrap
        a.header__logo(href="/")
          img.logo-mobile(src="images/logo-mobile.svg" alt="logo soundclaims." width="89" height="51")
          img.logo(src="images/logo.svg" alt="logo soundclaims." width="229" height="29")
      .header__menu
        +menu
      .header__menu-toggle
        span.menu__text.menu__text-active menu
        span.menu__text close
        button.menu-toggle.js-toggle-menu(type="button")
          .menu-icon
            .menu-icon__line
            .menu-icon__line
            .menu-icon__line