mixin here-to-help
  .help&attributes(attributes)
    .block-wrapper
      .container.container-sm
        .wrapper-top 
          .wrapper__radius 
          .wrapper__line
          .wrapper__radius 
        .wrapper-mid 
          .wrapper__line
          .wrapper__content
            .help__content
              .help__title 
                | We’re here to help
              .help__text 
                p African economies have experienced remarkable growth over the past 15 years, fostering business optimism despite mounting domestic challenges. Complex regulatory policies, varying legal frameworks, unstable regimes, and limited access to reliable financial information are common obstacles businesses face.
                p With agencies in Benin, Burkina Faso, Cameroon, Ghana, Ivory Coast, Kenya, Mali, Niger, Nigeria, Senegal, South Africa, Tanzania, Uganda, and Zimbabwe—and a local presence in more than 40 countries across Sub-Saharan and North Africa—Soundclaims stands as a leading debt collection and claims management organization, offering ST & MLT debt recovery services to international credit insurers and export credit agencies.  
              img.help__img(src="images/people.png" alt="here-to-help__img")
          .wrapper__line
            .line__block 
            .line__mask 
            .line__block
        .wrapper-bot
          .wrapper__radius 
          .wrapper__line
            .line__block 
            .line__mask 
            .line__block
          .wrapper__radius 
