include ./card-employee

mixin local-teams(title, arr)
    .local-teams
        .container.container-sm
            h2 !{title}
            .swiper.slider-teams
                .swiper-wrapper
                    each item, key in arr
                        .swiper-slide
                            +card-employee(item)
