mixin news-and-stories(obj)
    .news-and-stories&attributes(attributes)
        .container.container-sm 
            .news-and-stories__header
                .news-and-stories__title 
                    | News and <br> Success Stories
                .news-and-stories__subtitle 
                    | Explore the latest updates, insights, and developments from Soundclaims. Our news keeps you connected to what’s happening in the world of debt recovery and claims management across Africa. 
            .news-and-stories__content-news
                .content-news__content-wrapper
                    a(href="#").news-card 
                        .news-card__wrapper
                            .news-card__title 
                                | Strengthening debt recovery <br> networks across Africa
                            .news-card__info
                                .news-card__author 
                                    | By Peer Besselaar
                                .news-card__date 
                                    | 08.01.2025
                            p.news-card__text 
                                | Soundclaims expands its reach with new partnerships in key African regions, enhancing local expertise for faster, more efficient debt recovery "text to test overflow text to test overflow text to test overflow text to test overflow text to test overflowtext to test overflowtext to test overflow"
                        .news-card__link
                                span Read more
                                +svg('arrow-right').button__icon
                    a(href="#").news-card 
                        .news-card__wrapper
                            .news-card__title 
                                | Successful debt recovery in challenging markets
                            .news-card__info
                                .news-card__author 
                                    | By Peer Besselaar
                                .news-card__date 
                                    | 08.01.2025
                            p.news-card__text 
                                | In a recent high-stakes case involving multiple jurisdictions, Soundclaims successfully recovered a significant debt for an international client "text to test overflow text to test overflow text to test overflow text to test overflow text to test overflowtext to test overflowtext to test overflow"
                        .news-card__link
                                span Read more
                                +svg('arrow-right').button__icon
                        .badge.badge--card-news-and-stories
                            span.badge__wrap Success Story  
                    a(href="#").news-card 
                        .news-card__wrapper
                            .news-card__title 
                                | Strengthening debt recovery <br> networks across Africa
                            .news-card__info
                                .news-card__author 
                                    | By Peer Besselaar
                                .news-card__date 
                                    | 08.01.2025
                            p.news-card__text 
                                | Soundclaims expands its reach with new partnerships in key African regions, enhancing local expertise for faster, more efficient debt recovery "text to test overflow text to test overflow text to test overflow text to test overflow text to test overflowtext to test overflowtext to test overflow"
                        .news-card__link
                                span Read more
                                +svg('arrow-right').button__icon
                    a(href="#").news-card 
                        .news-card__wrapper
                            .news-card__title 
                                | Strengthening debt recovery <br> networks across Africa
                            .news-card__info
                                .news-card__author 
                                    | By Peer Besselaar
                                .news-card__date 
                                    | 08.01.2025
                            p.news-card__text 
                                | Soundclaims expands its reach with new partnerships in key African regions, enhancing local expertise for faster, more efficient debt recovery "text to test overflow text to test overflow text to test overflow text to test overflow text to test overflowtext to test overflowtext to test overflow"
                        .news-card__link
                                span Read more
                                +svg('arrow-right').button__icon
                    a(href="#").news-card 
                        .news-card__wrapper
                            .news-card__title 
                                | Strengthening debt recovery <br> networks across Africa
                            .news-card__info
                                .news-card__author 
                                    | By Peer Besselaar
                                .news-card__date 
                                    | 08.01.2025
                            p.news-card__text 
                                | Soundclaims expands its reach with new partnerships in key African regions, enhancing local expertise for faster, more efficient debt recovery "text to test overflow text to test overflow text to test overflow text to test overflow text to test overflowtext to test overflowtext to test overflow"
                        .news-card__link
                                span Read more
                                +svg('arrow-right').button__icon
                    a(href="#").news-card 
                        .news-card__wrapper
                            .news-card__title 
                                | Successful debt recovery in challenging markets
                            .news-card__info
                                .news-card__author 
                                    | By Peer Besselaar
                                .news-card__date 
                                    | 08.01.2025
                            p.news-card__text 
                                | In a recent high-stakes case involving multiple jurisdictions, Soundclaims successfully recovered a significant debt for an international client "text to test overflow text to test overflow text to test overflow text to test overflow text to test overflowtext to test overflowtext to test overflow"
                        .news-card__link
                                span Read more
                                +svg('arrow-right').button__icon
                        .badge.badge--card-news-and-stories
                            span.badge__wrap Success Story  
                .content-news__pagination
                    a(href="#").button.button--paginaton.button--paginaton-arrow
                        +svg('arrow-left-rounded').button__icon-center
                    a(href="#").button.button--paginaton.button--paginaton-active
                        | 1
                    a(href="#").button.button--paginaton
                        | 2
                    a(href="#").button.button--paginaton
                        | 3
                    a(href="#").button.button--paginaton.button--paginaton-arrow
                        +svg('arrow-right-rounded').button__icon-center
