mixin where-we-operate()
  .where-we-operate&attributes(attributes)
    .block-wrapper
      .container.container-sm
        .wrapper-top 
          .wrapper__radius 
          .wrapper__line
          .wrapper__radius 
        .wrapper-mid 
          .wrapper__line
            .line__block 
            .line__mask 
            .line__block
          .wrapper__content
            .where-we-operate__content
              .where-we-operate__title 
                | Where we <br> operate
              .where-we-operate__text 
                p Soundclaims has a robust presence across Africa, including:
                ul
                    li North Africa: Algeria, Egypt, Morocco, Tunisia
                    li West Africa: Benin, Burkina Faso, Ghana, Ivory Coast, Nigeria, Senegal, Togo
                    li Central Africa: Cameroon, Central African Republic, Chad, Congo, Gabon
                    li East Africa: Kenya, Tanzania, Uganda, Rwanda, Ethiopia
                    li Southern Africa: South Africa, Angola, Namibia, Zimbabwe, Zambia
            //-   img.here-to-help__img(src="images/here-to-help/people.png" alt="here-to-help__img")
          .wrapper__line
            .line__block 
            .line__mask 
            .line__block
        .wrapper-bot
          .wrapper__radius 
          .wrapper__line
          .wrapper__radius 

