mixin block-wrapper(obj)
  .block-wrapper
    .container
      .wrapper-top 
        .wrapper__radius 
        .wrapper__line
        .wrapper__radius 
      .wrapper-mid 
        .wrapper__line
          .line__block 
          .line__mask
          .line__block
        .wrapper__content
          block
        .wrapper__line
          .line__block 
          .line__mask 
          .line__block
      .wrapper-bot
        .wrapper__radius 
        .wrapper__line
          .line__block 
          .line__mask 
          .line__block 
        .wrapper__radius 
