mixin pagination(amount, active, ellipsis, last, arrows = false, inverse)
  //- amount - amount of displayed numbers +1 prior ellipsis
  //- active - active number
  //- ellipsis - number to be replaced by ellipsis
  //- last - number after ellipsis
  //- .icon-pagination-prev and .icon-pagination-next
  nav.pagination(aria-label="pagination" class!= inverse ? 'pagination--inverse' : '')
    //- prev arrow
    if (arrows === true)
      a.pagination__prev.icon-pagination-prev(href="#") ◀
    else

    ul.pagination__list
      //- before ellipsis
      - for (var index = 1; index <= amount; index++)
        if (index === active)
          li.pagination__item.is-active
            a.pagination__link(href="#")= index
        else if (index === ellipsis)
          li.pagination__item
            a.pagination__link.is-collapsed(href="#") ...
        else
          li.pagination__item
            a.pagination__link(href="#")= index
      //- after ellipsis
      - for (var index = amount + 1; index <= last; index++)
        li.pagination__item
          a.pagination__number(href="#")= index

    //- next arrow
    if (arrows === true)
      a.pagination__next.icon-pagination-next(href="#") ▶
    else

//- Use example
//- first part is 5 numbers
//- 3 is active
//- 4 is ellipsis
//- 9 is the last number, starting from last number of first part (5)
//- arrows - show prev/next arrows
//- +pagination(5, 3, 4, 9, arrows)