mixin slider()
  .swiper.slider
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
    .swiper-pagination
    button.swiper-button-prev
    button.swiper-button-next


mixin slider-thumbs()
  .swiper.slider-thumbs
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 4
        img(src="http://placekitten.com/500/300" alt="")
    button.swiper-button-prev
    button.swiper-button-next

  .swiper.slider-thumbs-nav
    .swiper-wrapper
      .swiper-slide
        h3 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h3 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h3 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h3 Slide 4
        img(src="http://placekitten.com/500/300" alt="")


mixin slider-news()
  .slider-news__controls
    button.swiper-button-prev
      +svg('arrow-left')
    button.swiper-button-next
      +svg('arrow-right')
  .swiper.slider-news
    .swiper-wrapper
      .swiper-slide
        .card-news-slider
          img(src="images/card-why3.jpg" alt="")
          .card-news-slider__body 
            h3 Nieuwe poederlakinstallatie bij Signatekst N.V.
            a(href="/") Lees meer
      .swiper-slide
        .card-news-slider
          img(src="images/card-why3.jpg" alt="")
          .card-news-slider__body 
            h3 Nieuwe elektrisch verwarmde kameroven bij Gerritsen van Groningen B.V.
            a(href="/") Lees meer
      .swiper-slide
        .card-news-slider
          img(src="images/card-why3.jpg" alt="")
          .card-news-slider__body 
            h3 Nieuwe poederlakinstallatie bij Signatekst N.V.
            a(href="/") Lees meer
      .swiper-slide
        .card-news-slider
          img(src="images/card-why3.jpg" alt="")
          .card-news-slider__body 
            h3 Nieuwe elektrisch verwarmde kameroven bij Gerritsen van Groningen B.V.
            a(href="/") Lees meer
      .swiper-slide
        .card-news-slider
          img(src="images/card-why3.jpg" alt="")
          .card-news-slider__body 
            h3 Nieuwe poederlakinstallatie bij Signatekst N.V.
            a(href="/") Lees meer
      .swiper-slide
        .card-news-slider
          img(src="images/card-why3.jpg" alt="")
          .card-news-slider__body 
            h3 Nieuwe elektrisch verwarmde kameroven bij Gerritsen van Groningen B.V.
            a(href="/") Lees meer

mixin slider-news-item()
  .swiper.slider-photo.sticky-stop-bottom
    .swiper-wrapper
      .swiper-slide
        img(src="images/card-why3.jpg" width="504" height="350" alt="")
      .swiper-slide
        img(src="images/card-why3.jpg" width="504" height="350" alt="")
      .swiper-slide
        img(src="images/card-why3.jpg" width="504" height="350" alt="")
      .swiper-slide
        img(src="images/card-why3.jpg" width="504" height="350" alt="")
      .swiper-slide
        img(src="images/card-why3.jpg" width="504" height="350" alt="")
  .slider-photo__controls
    button.swiper-button-prev
      +svg('arrow-left')
    button.swiper-button-next
      +svg('arrow-right')

