extends pug/base

prepend vars
  - title = 'About us'
  - pageWrapperClass = 'has-ticker'

block content
  +page-header({
    title: `About Soundclaims`,
    desc: "Soundclaims is your trusted partner for debt recovery and claims management across Africa. With deep local knowledge and global expertise, we help international credit insurers, export credit agencies, and financial institutions succeed in even the most complex markets."
  }).decor.decor--page-header.content-blocks-margin 
  +here-to-help
  section.section-video.mt-md.mb-md
    .container.container-sm
      +videoFile
  section.section-video-aside.mt-md.mb-md
    .container.container-sm
      .row
        .col-lg-4
          aside.aside
            img(src="images/aside.jpg" alt="building." width="362" height="560")
            .aside__inner
              h3 Seamless coordination
              p starts right here in our Amsterdam office.
              a(href="").button
                span Get in touch
                +svg('arrow-right').button__icon
        .col-lg-8
          +videoFile
  +block-news-facts({
    title: 'Facts & Figures',
    hideLinkNews: true,
    list: [
      {
        boldTitle: '39',
        title: 'Countries',
        text: 'Local Soundclaims teams operate across 39 countries in Africa, supported by over 70 colleagues on the ground.'
      },
      {
        boldTitle: 'Head office',
        title: 'Netherlands',
        text: 'Our head office in the Netherlands has a dedicated team of 15 professionals.'
      },
      {
        boldTitle: '71%',
        title: 'Short-term export claims (trade credit)'
      }
    ]
  }).block-news--fact-figures
  +contact-us({
    subtitle: 'Let’s talk solutions.',
    text: 'Interested in learning more about us? Reach out today — we would love to connect!',
    bgImg: 'images/contact4.jpeg'
  }).contact-us--about