extends pug/base

prepend vars
  - title = 'Index'

append vars

block content 
  .container.container-sm
    br
    h2
      a(href="home.html") Homepage
    h2
      a(href="local-presence.html") Local presence
    h2
      a(href="services.html") Services
    h2
      a(href="about.html") About us
    h2
      a(href="news.html") News
    h2
      a(href="careers.html") Careers
    h2
      a(href="contact.html") Contact
    h2
      a(href="article.html") Article
    br
