// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "vendor";
@import "reset";
@import "functions";
@import "mixins";
// @import "sprites";
@import "fonts";
@import "base";
@import "helpers";
@import "typography";
@import "components";

[data-country-map] {
  transition: color 0.2s;
}

[data-country-map]:focus,
[data-country-map]:hover {
  color: #e72a33;
  cursor: pointer;
}